{% extends "network/layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    Edit Account
{% endblock %}

{% block body %}

    <!-- <div class="section-identifier">
        <div class="section-identifier-inner">
            {% trans 'Settings' %}
        </div>
    </div> -->

    <div class="settings-tabs">
        <ul>
            <li id="account-tab" class="settings-tab active-settings-tab">
                <i class="account-tab-icon fas fa-user"></i>
                <div class="account-tab-text">Account</div>
            </li>
            <li id="blocklist-tab" class="settings-tab">
                <i class="account-tab-icon fas fa-ban"></i>
                <div class="account-tab-text">Blocklist</div>
            </li>
            <li id="preferences-tab" class="settings-tab">
                <i class="account-tab-icon fas fa-cog"></i>
                <div class="account-tab-text">Preferences</div>
            </li>
        </ul>
    </div>

    {% if message %}
    <div class="section-identifier">
        <div class="alert alert-danger">
            {{ message }}
        </div>
    </div>
    {% endif %}
    

    
    <form method="POST" action="" enctype="multipart/form-data" class="form-100-test" id="account-form">
        <div class="reg-login-outer">
            <div class="reg-login-inner">
                <div class="form-group w100 mb48">
                    <div class="margin-bottom-8 formlabel-text important-form-label">
                        <i class="fas fa-exclamation-triangle important-form-label-icon"></i> 
                        Current Password (required)
                        <i class="fas fa-exclamation-triangle important-form-label-icon"></i> 
                    </div>
                    {% if form.password.errors %}
                        <div class="alert alert-danger formerror-text">{{ form.password.errors }}</div>
                    {% endif %}
                    {{ form.password }}
                </div>
                <div class="form-group w100">
                    <div class="formerror-text">{{ form.username.errors }}</div>
                    <label for="{{ form.username.id_for_label }}" class="formlabel-text">New {{ form.username.label }}</label>
                    <div class="input-with-at-sign">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group w100">
                    <div class="formerror-text">{{ form.displayname.errors }}</div>
                    <label for="{{ form.displayname.id_for_label }}" class="formlabel-text">New {{ form.displayname.label }}</label>
                    {{ form.displayname }}
                </div>
                <div class="form-group w100">
                    <div class="formerror-text">{{ form.email.errors }}</div>
                    <label for="{{ form.email.id_for_label }}" class="formlabel-text">New {{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                <div class="form-group w100">
                    <div class="formerror-text">{{ form.bio.errors }}</div>
                    <label for="{{ form.bio.id_for_label }}">New {{ form.bio.label }}</label>
                    {{ form.bio }}
                </div>
                <div class="form-group w100">
                    <div class="formerror-text">{{ form.new_password.errors }}</div>
                    <label for="{{ form.new_password.id_for_label }}">{% trans 'New Password' %}</label>
                    {{ form.new_password }}
                </div>
                <div class="form-group w100">
                    <div class="formerror-text">{{ form.new_password_confirm.errors }}</div>
                    <label for="{{ form.new_password_confirm.id_for_label }}">{% trans 'Confirm New Password' %}</label>
                    {{ form.new_password_confirm }}
                </div>
                <div class="form-group w100">
                    <div class="formerror-text">{{ form.avatar.errors }}</div>
                    <label for="{{ form.avatar.id_for_label }}">New {{ form.avatar.label }}</label>
                    <div class="flex-row padding12 avatar-input-container">
                        <img class="profile-pic" id="profile-pic-preview-img" src="{{ request.user.avatar.url }}">
                        <div class="p-l-12">
                            {{ form.avatar }}
                        </div>
                        <div class="flex-column-align-left margin-left-12">
                            <label for="{{ form.avatar.id_for_label }}" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-cloud-upload"></i> {% trans 'Upload new avatar' %}
                            </label>
                            <div class="custom-file-upload-helper-text formlabel-text" id="custom-file-upload-helper-text">
                                {% trans 'Note: The avatar won\'t be updated until you press \"Save\"' %}
                            </div>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <div class="flex-row">
                    <a class="btn btn-outline-secondary equal-width-button" href="{% url 'index' %}">{% trans 'Cancel' %}</a>
                    <input class="btn btn-primary equal-width-button margin-left-4" type="submit" name="Update Information" value="{% trans 'Save' %}">
                </div>
            </div>
        </div>
    </form>

    <div hidden id="blocklist-form">
        Blocklist Test
    </div>

    <form hidden id="preferences-form">
        Preferences Test
    </form>
{% endblock %}

{% block script %}
    <script src="{% static 'network/account.js' %}"></script>
    <script src="{% static 'network/image_uploads.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.navbar-active-item').forEach(item => {
          item.classList.remove('navbar-active-item');
        });
        document.querySelector('#navbar-account').classList.add('navbar-active-item');
      });
    </script>
{% endblock %}
