{% load i18n %}

<div id="compose-view-outer">
    <div id="compose-view">
        <div id="compose-view-avatar-div">
            <img id="compose-view-avatar-img" src="{{ request.user.avatar.url }}">
        </div>
        <div id="compose-view-body">
            <form id="compose-form" action={% url 'compose' %} method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="relative-block">
                    {{ new_post_form.text }}
                    <div id="compose-form-character-count"></div>
                </div>
                <!-- dirty hack... we get the color from this to make the char count gradient -->
                <div hidden id="compose-form-character-count-end-color"></div>

                <div class="form-group w100">
                    <div class="formerror-text">{{ new_post_form.image.errors }}</div>
                    <label>New {{ new_post_form.image.label }}</label>
                    <div class="flex-row padding12 avatar-input-container">
                        <img class="profile-pic" id="profile-pic-preview-img" src="{{ new_post_form.image.url }}">
                        <div class="p-l-12">
                            {{ new_post_form.image }}
                        </div>
                        <div class="flex-column-align-left margin-left-12">
                            <label for="{{ new_post_form.image.id_for_label }}" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-cloud-upload"></i> {% trans 'Add Image' %}
                            </label>
                            <div class="custom-file-upload-helper-text formlabel-text" id="custom-file-upload-helper-text">
                                {% trans 'Note: The avatar won\'t be updated until you press \"Save\"' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="compose-form-submit-button-div" class="flex-row-end">
                    <input type="submit" id="compose-form-submit-button" class="submit-button">
                </div>
            </form>
        </div>
    </div>
</div>
