{% load i18n %}

<div id="compose-view-outer">
    <div id="compose-view">
        <div id="compose-view-avatar-div">
            <img id="compose-view-avatar-img" src="{{ request.user.avatar.url }}">
        </div>
        <div id="compose-view-body">
            <form id="compose-form" action={% url 'compose' %} method="post">
                {% csrf_token %}
                <div class="relative-block">
                    {{ new_post_form.post_text }}
                    <div id="compose-form-character-count"></div>
                </div>
                <!-- dirty hack... we get the color from this to make the char count gradient -->
                <div hidden id="compose-form-character-count-end-color"></div>
                <div id="compose-form-submit-button-div">
                    <input type="submit" id="compose-form-submit-button">
                </div>
            </form>
        </div>
    </div>
</div>
