{% load i18n %}

<div id="compose-view-outer">
    <div id="compose-view">
        <div id="compose-view-avatar-div">
            <img id="compose-view-avatar-img" src="{{ request.user.avatar.url }}">
        </div>
        <div id="compose-view-body">
            <form id="compose-form" action={% url 'compose' %} method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="relative-block">
                    {{ new_post_form.text }}
                    <div id="compose-form-character-count"></div>
                </div>
                <!-- dirty hack... we get the color from this to make the char count gradient -->
                <div hidden id="compose-form-character-count-end-color"></div>

                <div hidden>{{ new_post_form.image }}</div>
                <div id="compose-form-submit-button-div" class="compose-form-submit-grid">
                    <div hidden id="compose-pic-preview-img-div">
                        <img id="compose-pic-preview-img" src="{{ new_post_form.image.url }}">
                        <div id="compose-pic-preview-remove-btn">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <label for="{{ new_post_form.image.id_for_label }}" id="compose-upload-image-button" class="upload-image-button">
                        <i class="far fa-image"></i>
                    </label>
                    <input type="submit" id="compose-form-submit-button" class="submit-button">
                </div>
            </form>
        </div>
    </div>
</div>
