{% extends "network/layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'DMs' %}
{% endblock %}

{% block body %}
    <!-- this is used for JS stuff -->
    <div id="thread-id" hidden>{{ thread_id }}</div>

    <div class="section-identifier">
        <div class="section-identifier-inner">
            {% trans 'Direct Messages' %}
        </div>
    </div>

    {% for message in thread %}
        <div>{{ message }}</div>
    {% endfor %}

    {% include 'network/pagination.html' %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/dm_thread.js' %}"></script>
    <script src="{% static 'network/utils.js' %}"></script>
{% endblock %}