{% extends "network/layout.html" %}
{% load static %}

{% block title %}
    Following
{% endblock %}

{% block body %}

    <div class="section-identifier">
        <div class="section-identifier-inner">
            Following
        </div>
    </div>

    {% include 'network/posts.html' %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
    <script src="{% static 'network/utils.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.active').forEach(item => {
          item.classList.remove('active');
        });
        document.querySelector('#navbar-following').classList.add('active');
      });
    </script>
{% endblock %}
