{% extends "network/layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Following' %}
{% endblock %}

{% block body %}

    <div class="section-identifier">
        <div class="section-identifier-inner">
            {% trans 'Following' %}
        </div>
    </div>

    <div id="new-posts-container">
        <a href="" class="no-decoration-link">
            <div hidden id="new-posts-inner">
                {% trans 'No new posts (you should not see this)' %}
            </div>
        </a>
    </div>

    {% include 'network/posts.html' %}

{% endblock %}

{% block script %}
    {% if user.is_authenticated %}<script src="{% static 'network/posts-loggedin.js' %}"></script>{% endif %}
    <script src="{% static 'network/live_notifications.js' %}"></script>
    <script src="{% static 'network/posts.js' %}"></script>
    <script src="{% static 'network/utils.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.navbar-active-item').forEach(item => {
          item.classList.remove('navbar-active-item');
        });
        document.querySelector('#navbar-following').classList.add('navbar-active-item');
      });
    </script>
{% endblock %}
