{% extends "network/layout.html" %}
{% load static %}

{% block title %}
    Public Timeline
{% endblock %}

{% block body %}
    <div id="index-body-div">
        {% if user.is_authenticated %}
            {% include 'network/compose.html' %}
        {% endif %}

        <div class="section-identifier">
            <div class="section-identifier-inner">
                Public Timeline
            </div>
        </div>

        <div id="new-posts-container">
            <a href="" class="no-decoration-link">
                <div hidden id="new-posts-inner">
                    No new posts (you should not see this)
                </div>
            </a>
        </div>

        {% include 'network/posts.html' %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/live_notifications.js' %}"></script>
    <script src="{% static 'network/posts.js' %}"></script>
    <script src="{% static 'network/utils.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.active').forEach(item => {
          item.classList.remove('active');
        });
        document.querySelector('#navbar-index').classList.add('active');
      });
    </script>
{% endblock %}
