{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    {% if user.is_authenticated %}    
        <div id="compose-view">
            <form id="compose-form">
                <!-- {% csrf_token %} -->
                <!-- {{ new_post_form }} -->
                <textarea class="form-control" id="post-text" placeholder="Text"></textarea>
                <input type="submit">
            </form>
        </div>
    {% endif %}

    <div id="posts-view"></div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
