{% extends "network/layout.html" %}
{% load static %}

{% block title %}
    Mentions
{% endblock %}

{% block body %}
    <!-- DO NOT DELETE! THIS IS USED IN USER.JS -->
    <div id="user-id" style="display: none">{{ view_user.id }}</div>
    <!-- END DO NOT DELETE -->

        <div class="section-identifier">
            <div class="section-identifier-inner">
                Mentions
            </div>
        </div>

        {% include 'network/posts.html' %}
    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'network/mentions.js' %}"></script>
    <script src="{% static 'network/user.js' %}"></script>
    <script src="{% static 'network/posts.js' %}"></script>
    <script src="{% static 'network/utils.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.active').forEach(item => {
          item.classList.remove('active');
        });
        document.querySelector('#navbar-mentions').classList.add('active');
      });
    </script>
{% endblock %}
