{% extends "network/layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    Post by @{{ post.user.username }}
    <!-- TODO figure out how to translate this -->
{% endblock %}

{% block body %}
    <!-- DO NOT DELETE! THIS IS USED IN USER.JS -->
    <div id="user-id" style="display: none">{{ post.user.id }}</div>
    <!-- END DO NOT DELETE -->

    <div id="single-post-outer">
        <div id="single-post-view-container">
            <div id="single-post-view-avatar">
                <a href="{% url 'user' post.user.username %}">
                    <img class="profile-pic" src="{{ post.user.avatar.url }}">
                </a>
            </div>
            <div id="single-post-view-name-div">
                <a href="{% url 'user' post.user.username %}">
                    <div id="user-profile-displayname">{{ post.user.displayname }}</div>
                </a>
                <a href="{% url 'user' post.user.username %}">
                    <div id="user-profile-username">@{{ post.user.username }}</div>
                </a>
            </div>
            <div id="single-post-view-follow-div">
                {% if user.is_authenticated and user != post.user %}
                    <div id="follow-button-div">
                        {% if post.user in user.following.all %}
                            <button id="unfollow-button">{% trans 'Unfollow' %}</button>
                        {% else %}
                            <button id="follow-button">{% trans 'Follow' %}</button>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div id="post-text-{{ post.id }}" class="single-post-view-text-div">{{ post.text }}</div>
            <div id="single-post-view-timestamp-div">
                {{ post.timestamp }} UTC
            </div>
            {% if user.is_authenticated and post.user != user %}
                <div class="post-like-button-div" id="post-like-button-div-{{ post.id }}">
                    {% if post in user.liked_posts.all %}
                        <button class="post-unlike-button single-page-like-button" id="post-like-button-{{ post.id }}">
                            <div id="post-like-heart-{{ post.id }}" class="post-like-heart-liked">
                                ❤️
                            </div>
                            <div id="post-like-count-{{ post.id }}" class="post-like-count">
                                {{ post.users_who_liked.count }}
                            </div>
                        </button>
                    {% else %}
                        <button class="post-like-button single-page-like-button" id="post-like-button-{{ post.id }}">
                            <div id="post-like-heart-{{ post.id }}" class="post-like-heart-unliked">
                                ‍♡ 
                            </div>
                            <div id="post-like-count-{{ post.id }}" class="post-like-count">
                                {{ post.users_who_liked.count }}
                            </div>
                        </button>
                    {% endif %}
                </div>
            {% else %}
                <div class="post-like-button-div" id="post-like-button-div-{{ post.id }}">
                    <div class="post-like-button-inactive single-page-like-button">
                        <div class="post-like-heart-unliked">
                            <i class="far fa-heart"></i>
                        </div>
                        <div class="post-like-count">
                            {{ post.users_who_liked.count }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div id="single-post-view-like-edit-div">
                {% if user.is_authenticated %}
                    <!-- edit button -->
                    {% if post.user == user %}
                        <div class="post-edit-button" id="eb-{{ post.id }}">{% trans 'Edit' %}</div>
                        <!-- <button class="post-edit-button" id="eb-{{ post.id }}">Edit</button> -->
                    {% endif %}
                {% endif %}
            </div>
        </div>

    </div>
    
{% endblock %}

{% block script %}
    {% if user.is_authenticated %}<script src="{% static 'network/posts-loggedin.js' %}"></script>{% endif %}
    <script src="{% static 'network/user.js' %}"></script>
    <script src="{% static 'network/posts.js' %}"></script>
    <script src="{% static 'network/utils.js' %}"></script>
{% endblock %}
