<div id="posts-all-container-div">
    {% for post in posts %}
        <div class="post-div" id="post-div{{ post.id }}">
            <div class="post-avatar-div">
                <a href="{% url 'user' post.user.username %}">
                    <img class="profile-pic" src="{{ post.user.avatar.url }}">
                </a>
            </div>
            <div class="post-content-div">
                <div class="post-username-header-div">
                    <a href="{% url 'user' post.user.username %}" class="post-username-header-link">
                        <div class="post-username-header-displayname">
                            {{ post.user.displayname }}
                        </div>
                        <div class="post-username-header-username">
                            @{{ post.user.username }}
                        </div>
                    </a>
                    <div class="post-username-header-spacer"> · </div>
                    <div class="post-timestamp-div">
                        <a href="{% url 'post' post.id %}" class="post-timestamp-text">{{ post.timestamp_f }}</a>
                    </div>
                </div>
                <div class="post-text" id="post-text-{{ post.id }}">{{ post.text }}</div>
                <div class="post-bottom-row-div">
                    <div class="post-bottom-row-left-div">
                        {% if user.is_authenticated and post.user != user %}
                            <div class="post-like-button-div" id="post-like-button-div-{{ post.id }}">
                                {% if post in user.liked_posts.all %}
                                    <button class="post-unlike-button" id="post-like-button-{{ post.id }}">
                                        <div id="post-like-count-num-{{ post.id }}" class="post-like-heart-liked">
                                            ‍♡‍
                                        </div>
                                        <div id="post-like-count-{{ post.id }}">
                                            {{ post.users_who_liked.count }}
                                        </div>
                                    </button>
                                {% else %}
                                    <button class="post-like-button" id="post-like-button-{{ post.id }}">
                                        <div id="post-like-count-num-{{ post.id }}" class="post-like-heart-unliked">
                                            ♡‍
                                        </div>
                                        <div id="post-like-count-{{ post.id }}">
                                            {{ post.users_who_liked.count }}
                                        </div>
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>

                    {% if user.is_authenticated %}
                        <!-- edit button -->
                        {% if post.user == user %}
                            <div class="post-edit-button" id="eb-{{ post.id }}">Edit</div>
                            <!-- <button class="post-edit-button" id="eb-{{ post.id }}">Edit</button> -->
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        No posts to display :(
    {% endfor %}
</div>

{% include 'network/pagination.html' %}
