{% extends "network/layout.html" %}
{% load static %}

{% block title %}
    Post by {{ post.user.displayname }} (@{{ post.user.username }})
{% endblock %}

{% block body %}
    <!-- DO NOT DELETE! THIS IS USED IN USER.JS -->
    <div id="user-id" style="display: none">{{ post.user.id }}</div>
    <!-- END DO NOT DELETE -->

    <div id="single-post-outer">
        <div id="single-post-view-container">
            <div id="single-post-view-avatar">
                <img class="profile-pic" src="{{ post.user.avatar.url }}">
            </div>
            <div id="single-post-view-name-div">
                <div id="user-profile-displayname">{{ post.user.displayname }}</div>
                <div id="user-profile-username">@{{ post.user.username }}</div>
            </div>
            <div id="single-post-view-follow-div">
                {% if user.is_authenticated and user != post.user %}
                    <div id="follow-button-div">
                        {% if post.user in user.following.all %}
                            <button id="unfollow-button">Unfollow</button>
                        {% else %}
                            <button id="follow-button">Follow</button>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div id="single-post-view-text-div">{{ post.text }}</div>
            <div id="single-post-view-timestamp-div">
                {{ post.timestamp }} UTC
            </div>
            <div>{{ post.users_who_liked.count }}</div>
            <div id="single-post-view-like-edit-div">
                Like
            </div>
        </div>

    </div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/user.js' %}"></script>
    <script src="{% static 'network/posts.js' %}"></script>
    <script src="{% static 'network/utils.js' %}"></script>
{% endblock %}
