{% for post in posts %}
    <div class="post-div">
        <a href="{% url 'user' post.user.username %}">{{ post.user.username }}</a> 
        at <a href="{% url 'post' post.id %}">{{ post.timestamp }}</a>: 
        {{ post.text }} 
        | Likes: {{ post.users_who_liked.count }}<br>

        {% if user.is_authenticated %}
            <!-- edit button -->
            {% if post.user == user %}
                <button class="post-edit-button">Edit</button>
            {% endif %}
            <!-- like button -->
            {% if post.user != user %}
                <button class="post-like-button">Like</button>
            {% endif %}
        {% endif %}
    </div>
{% empty %}
    No posts to display :(
{% endfor %}

<!-- Pagination -->
{% if posts.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ posts.previous_page_number }}">previous</a>
{% endif %}

<span class="current">
    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
</span>

{% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">next</a>
    <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
{% endif %}
<!-- End of Pagination -->

