{% extends "network/layout-nonav.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {% translate 'Add Account Details' %}
{% endblock %}

{% block body %}

    <div class="section-identifier">
        <div class="section-identifier-inner">
            <div>
                {% translate 'Add Account Details' %}
            </div>
            <div class="section-identifier-additional-text">
                {% translate 'Here you can select region, theme, and privacy settings for your account. This is optional, and you can also do it later by visiting the account settings.' %}
            </div>
        </div>
    </div>

    <div class="reg-login-outer">
        <div class="reg-login-inner">
            <form method="POST" action="" class="form-100-test">
                <h4>{% translate "Display" %}</h4>
                <!-- Language -->
                <div class="form-group mw350">
                    {{ form.language.errors | safe }}
                    <div class="flex-row space-between">
                        <label for="{{ form.language.id_for_label }}">{{ form.language.label }}</label>
                        {{ form.language | safe }}
                    </div>
                </div>
                <!-- Light/Dark Mode -->
                <div class="form-group mw350">
                    {{ form.theme.errors | safe }}
                    <div class="flex-row space-between">
                        <label for="{{ form.theme.id_for_label }}">{{ form.theme.label }}</label>
                        {{ form.theme | safe }}
                    </div>
                </div>

                <h4>{% translate "Privacy" %}</h4>
                <!-- Show/hide likes -->
                <div class="form-group mw350">
                    {{ form.show_liked_posts.errors | safe }}
                    <div class="flex-row space-between">
                        <label for="{{ form.show_liked_posts.id_for_label }}">{{ form.show_liked_posts.label }}</label>
                        {{ form.show_liked_posts | safe }}
                    </div>
                    <div class="form-help-text">
                        {{ form.show_liked_posts.help_text }}
                    </div>
                </div>

                {% csrf_token %}
                <a class="btn btn-outline-secondary equal-width-button" href="{% url 'index' %}">{% translate "Skip" %}</a>
                <input class="btn btn-primary equal-width-button" type="submit" name="Update Information" value="Save">
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.navbar-active-item').forEach(item => {
          item.classList.remove('navbar-active-item');
        });
      });
    </script>
{% endblock %}
