{% extends "network/layout-nonav.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {% translate "Add Account Details" %}
{% endblock %}

{% block body %}

    <div class="section-identifier">
        <div class="section-identifier-inner">
            <div>
                {% translate "Add Account Details" %}
            </div>
            <div class="section-identifier-additional-text">
                {% translate "Here you can add additional information to your account. This is optional, and you can also do it later by visiting the account settings." %}
            </div>
        </div>
    </div>

    <div class="reg-login-outer">
        <div class="reg-login-inner">
            <form method="POST" action="" enctype="multipart/form-data" class="form-100-test">
                <div class="form-group">
                    {{ form.bio.errors }}
                    <label for="{{ form.bio.id_for_label }}">{{ form.bio.label }}</label>
                    {{ form.bio }}
                </div>
                <div class="form-group">
                    {{ form.avatar.errors }}
                    <label for="{{ form.avatar.id_for_label }}">{{ form.avatar.label }}</label>
                    <div class="flex-row padding12 avatar-input-container">
                        <img class="profile-pic" id="profile-pic-preview-img" src="{{ request.user.avatar.url }}">
                        <div class="p-l-12">
                            {{ form.avatar }}
                        </div>
                        <div class="flex-column-align-left margin-left-12">
                            <label for="{{ form.avatar.id_for_label }}" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-cloud-upload"></i> {% translate "Upload new avatar" %}
                            </label>
                            <div class="custom-file-upload-helper-text" id="custom-file-upload-helper-text">
                                {% blocktranslate %}Note: The avatar won't be updated until you press "Save" {% endblocktranslate %}
                            </div>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <a class="btn btn-outline-secondary equal-width-button" href="{% url 'register3' %}">{% translate "Skip" %}</a>
                <input class="btn btn-primary equal-width-button" type="submit" name="Update Information" value="Save">
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/image_uploads.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.navbar-active-item').forEach(item => {
          item.classList.remove('navbar-active-item');
        });
      });
    </script>
{% endblock %}
