{% extends "network/layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    Edit Account
{% endblock %}

{% block body %}
    <!-- DON'T DELETE! USED FOR DETERMINING WHICH TAB TO OPEN TO -->
    <div hidden id="account-page-tab-start-value">{{ start_tab }}</div>
    <!-- END DON'T DELETE -->

    <div class="settings-tabs">
        <ul>
            <li id="account-tab" class="settings-tab active-settings-tab">
                <i class="account-tab-icon fas fa-user"></i>
                <div class="account-tab-text">Account</div>
            </li>
            <li id="blocklist-tab" class="settings-tab">
                <i class="account-tab-icon fas fa-ban"></i>
                <div class="account-tab-text">Blocklist</div>
            </li>
            <li id="preferences-tab" class="settings-tab">
                <i class="account-tab-icon fas fa-cog"></i>
                <div class="account-tab-text">Preferences</div>
            </li>
        </ul>
    </div>

    {% if message %}
    <div class="section-identifier">
        <div class="alert alert-danger">
            {{ message }}
        </div>
    </div>
    {% endif %}
    

    
    <form method="POST" action="" enctype="multipart/form-data" class="form-100-test" id="account-form">
        <div class="reg-login-outer">
            <div class="reg-login-inner">
                <div class="form-group w100 mb48">
                    <div class="margin-bottom-8 formlabel-text important-form-label">
                        <i class="fas fa-exclamation-triangle important-form-label-icon"></i> 
                        Current Password (required)
                        <i class="fas fa-exclamation-triangle important-form-label-icon"></i> 
                    </div>
                    {% if account_form.password.errors %}
                        <div class="alert alert-danger formerror-text">{{ account_form.password.errors }}</div>
                    {% endif %}
                    {{ account_form.password }}
                </div>
                <div class="form-group w100">
                    <div class="formerror-text">{{ account_form.username.errors }}</div>
                    <label for="{{ account_form.username.id_for_label }}" class="formlabel-text">New {{ account_form.username.label }}</label>
                    <div class="input-with-at-sign">
                        {{ account_form.username }}
                    </div>
                </div>
                <div class="form-group w100">
                    <div class="formerror-text">{{ account_form.displayname.errors }}</div>
                    <label for="{{ account_form.displayname.id_for_label }}" class="formlabel-text">New {{ account_form.displayname.label }}</label>
                    {{ account_form.displayname }}
                </div>
                <div class="form-group w100">
                    <div class="formerror-text">{{ account_form.email.errors }}</div>
                    <label for="{{ account_form.email.id_for_label }}" class="formlabel-text">New {{ account_form.email.label }}</label>
                    {{ account_form.email }}
                </div>
                <div class="form-group w100">
                    <div class="formerror-text">{{ account_form.bio.errors }}</div>
                    <label for="{{ account_form.bio.id_for_label }}">New {{ account_form.bio.label }}</label>
                    {{ account_form.bio }}
                </div>
                <div class="form-group w100">
                    <div class="formerror-text">{{ account_form.new_password.errors }}</div>
                    <label for="{{ account_form.new_password.id_for_label }}">{% trans 'New Password' %}</label>
                    {{ account_form.new_password }}
                </div>
                <div class="form-group w100">
                    <div class="formerror-text">{{ account_form.new_password_confirm.errors }}</div>
                    <label for="{{ account_form.new_password_confirm.id_for_label }}">{% trans 'Confirm New Password' %}</label>
                    {{ account_form.new_password_confirm }}
                </div>
                <div class="form-group w100">
                    <div class="formerror-text">{{ account_form.avatar.errors }}</div>
                    <label>New {{ account_form.avatar.label }}</label>
                    <div class="flex-row padding12 avatar-input-container">
                        <img class="profile-pic" id="profile-pic-preview-img" src="{{ request.user.avatar.url }}">
                        <div class="p-l-12">
                            {{ account_form.avatar }}
                        </div>
                        <div class="flex-column-align-left margin-left-12">
                            <label for="{{ account_form.avatar.id_for_label }}" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-cloud-upload"></i> {% trans 'Upload new avatar' %}
                            </label>
                            <div class="custom-file-upload-helper-text formlabel-text" id="custom-file-upload-helper-text">
                                {% trans 'Note: The avatar won\'t be updated until you press \"Save\"' %}
                            </div>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <div class="flex-row">
                    <a class="btn btn-outline-secondary equal-width-button" href="{% url 'index' %}">{% trans 'Cancel' %}</a>
                    <input class="btn btn-primary equal-width-button margin-left-4" type="submit" name="account-form-button" value="{% trans 'Save' %}">
                </div>
            </div>
        </div>
    </form>

    <div hidden id="blocklist-form" class="reg-login-outer">
        <div class="reg-login-inner" id="block-box">
            <h4 class="mb12 mt4">Add a user to blocklist</h4>
            <div class="flex-row" id="add-to-blocklist">
                <input type="text" id="add-to-blocklist-input">
                <button id="add-to-blocklist-button" class="btn btn-primary">Block</button>
            </div>
            <h4 class="mt32 mb0" id="blocked-users-header">Blocked Users</h4>
            {% for blocked_user in blocklist %}
                <div class="blocklist-grid" id="unblock-row-{{ blocked_user.id }}">
                    <img class="blocklist-avatar-img" src="{{ blocked_user.avatar.url}}">
                    <div class="blocklist-displayname">{{ blocked_user.displayname }}</div>
                    <div class="blocklist-username">@{{ blocked_user.username }}</div>
                    <button class="blocklist-unblock-button btn btn-outline-secondary" userid="{{ blocked_user.id }}" username="{{ blocked_user.username }}">Unblock</button>
                </div>
            {% empty %}
                blocklist is empty
            {% endfor %}
        </div>
    </div>

    <div hidden id="preferences-form" class="reg-login-outer">
        <div class="reg-login-inner">
            <form method="POST" action="" class="form-100-test">
                <h4>Display</h4>
                <!-- Language -->
                <div class="form-group mw350">
                    {{ preferences_form.language.errors | safe }}
                    <div class="flex-row space-between">
                        <label for="{{ preferences_form.language.id_for_label }}">{{ preferences_form.language.label }}</label>
                        {{ preferences_form.language | safe }}
                    </div>
                </div>
                <!-- Light/Dark Mode -->
                <div class="form-group mw350">
                    {{ preferences_form.theme.errors | safe }}
                    <div class="flex-row space-between">
                        <label for="{{ preferences_form.theme.id_for_label }}">{{ preferences_form.theme.label }}</label>
                        {{ preferences_form.theme | safe }}
                    </div>
                </div>

                <h4>Privacy</h4>
                <!-- Show/hide likes -->
                <div class="form-group mw350">
                    {{ preferences_form.show_liked_posts.errors | safe }}
                    <div class="flex-row space-between">
                        <label for="{{ preferences_form.show_liked_posts.id_for_label }}">{{ preferences_form.show_liked_posts.label }}</label>
                        {{ preferences_form.show_liked_posts | safe }}
                    </div>
                    <div class="form-help-text">
                        {{ preferences_form.show_liked_posts.help_text }}
                    </div>
                </div>

                {% csrf_token %}
                <a class="btn btn-outline-secondary equal-width-button" href="{% url 'index' %}">{% trans 'Cancel' %}</a>
                <input class="btn btn-primary equal-width-button" type="submit" name="preferences-form-button" value="Save">
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/account.js' %}"></script>
    <script src="{% static 'network/utils.js' %}"></script>
    <script src="{% static 'network/image_uploads.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.navbar-active-item').forEach(item => {
          item.classList.remove('navbar-active-item');
        });
        document.querySelector('#navbar-account').classList.add('navbar-active-item');
      });
    </script>
{% endblock %}
