{% extends "network/layout.html" %}

{% block title %}
    {{ view_user.username }}
{% endblock %}

{% block body %}
    {{ view_user.username }}<br>
    {{ view_user.bio }}<br>
    <img src="{{ view_user.avatar.url }}"><br>
    Posts: {{ view_user.posts.count }}<br>
    Following: {{ view_user.following.count }}<br>
    Followed by: {{ view_user.followed_by.count }}<br>
    Likes: {{ view_user.liked_posts.count }}<br>

    {% for post in posts %}
        {{ post }} | Likes: {{ post.users_who_liked.count }}<br>
    {% empty %}
        This user has not yet made any posts
    {% endfor %}

{% endblock %}