{% extends "network/layout.html" %}
{% load static %}

{% block title %}
    {{ view_user.displayname }} (@{{ view_user.username }})
{% endblock %}

{% block body %}
    <!-- DO NOT DELETE! THIS IS USED IN USER.JS -->
    <div id="user-id" style="display: none">{{ view_user.id }}</div>
    <!-- END DO NOT DELETE -->

    <div id="index-body-div">
        <div id="user-profile-outer-div">
            <div id="user-profile-grid-div">
                <div id="user-profile-avatar-div">
                    <img id="profile-avatar" src="{{ view_user.avatar.url }}"><br>
                </div>            
                <div id="user-profile-name-div">
                    <div id="user-profile-displayname">{{ view_user.displayname }}</div>
                    <div id="user-profile-username">@{{ view_user.username }}</div>
                </div>
                <div id="user-profile-follow-div">
                    <!-- TODO check if this breaks when user is not logged in -->
                    {% if user.is_authenticated and user != view_user %}
                        <div id="follow-button-div">
                            {% if view_user in user.following.all %}
                                <button id="unfollow-button">Unfollow</button>
                            {% else %}
                                <button id="follow-button">Follow</button>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div id="user-profile-info-div">
                    <div id="user-profile-bio">{{ view_user.bio }}</div>
                    <div id="user-profile-post-info-div">
                        <div id="user-profile-post-count">{{ view_user.posts.count }}</div>
                        <div id="user-profile-post-count-label"> Posts</div>
                        <div id="user-profile-liked-posts-count">{{ view_user.liked_posts.count }} </div>
                        <div id="user-profile-liked-posts-count-label"> Liked Posts</div>
                    </div>
                    <div id="user-profile-follower-info-div">
                        <div id="user-profile-following-count">{{ view_user.following.count }}</div>
                        <div id="user-profile-following-count-label">Following</div>
                        <div id="user-profile-follower-count">{{ view_user.followed_by.count }}</div>
                        <div id="user-profile-follower-count-label">Followers</div>
                    </div>
                </div>
            </div>
        </div>

        {% if user.is_authenticated and user.id == view_user.id %}
            {% include 'network/compose.html' %}
        {% endif %}

        <div class="spacer-8-px-conditional"></div>

        <div id="new-posts-container">
            <a href="" class="no-decoration-link">
                <div hidden id="new-posts-inner">
                    No new posts (you should not see this)
                </div>
            </a>
        </div>

        {% include 'network/posts.html' %}
    </div>
{% endblock %}


{% block script %}
    {% if user != view_user %}
        <script src="{% static 'network/live_notifications.js' %}"></script>
    {% endif %}
    <script src="{% static 'network/user.js' %}"></script>
    <script src="{% static 'network/posts.js' %}"></script>
    <script src="{% static 'network/utils.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.active').forEach(item => {
          item.classList.remove('active');
        });
        document.querySelector('#navbar-user').classList.add('active');
      });
    </script>
{% endblock %}
