{% load i18n %}

<!-- DO NOT DELETE! THIS IS USED IN USER.JS -->
<div id="user-id" style="display: none">{{ view_user.id }}</div>
<!-- END DO NOT DELETE -->

<div id="user-profile-outer-div">
    <div id="user-profile-grid-div">
        <div id="user-profile-avatar-div">
            <img id="profile-avatar" src="{{ view_user.avatar.url }}"><br>
        </div>            
        <div id="user-profile-name-div">
            <div id="user-profile-displayname">{{ view_user.displayname }}</div>
            <div id="user-profile-username">@{{ view_user.username }}</div>
        </div>
        <div>
        <div id="user-profile-follow-div">
            <div id="user-profile-hover-menu-div">
                <div class="dropbtn" id="user-profile-dropdown-button">
                    <i class="fas fa-ellipsis-v user-profile-hover-menu-icon"></i>
                </div>
                <div id="user-profile-dropdown-content">
                    {% if user.is_authenticated and user != view_user and not view_user.has_user_blocked %}
                        <a {% if view_user.blocked_by_user %}hidden {% endif %}href="{% url 'dm_thread' view_user %}">
                            <i class="far fa-envelope"></i> Message
                        </a>
                        <div id="block-button" {% if view_user.blocked_by_user %}hidden {% endif %}href="">
                            <i class="far fa-eye-slash"></i> Block
                        </div>
                        <div id="unblock-button" {% if not view_user.blocked_by_user %}hidden {% endif %}href="">
                            <i class="far fa-eye"></i> Unblock
                        </div>
                    {% endif %}
                    <div id="share-profile-button" href="">
                        <i class="fas fa-share-square"></i> Share
                    </div>
                </div>
            </div>
            {% if not user == view_user and not view_user.blocked_by_user and not view_user.has_user_blocked %}
                <div id="follow-button-div">
                    {% if view_user in user.following.all %}
                        <button id="unfollow-button">{% trans 'Unfollow' %}</button>
                    {% else %}
                        <button id="follow-button">{% trans 'Follow' %}</button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        </div>
        <div id="user-profile-info-div">
            <div id="user-profile-bio">{{ view_user.bio }}</div>
            <div id="user-profile-post-info-div">
                <a href="{% url 'user' view_user %}" class="flex-row">
                    <div id="user-profile-post-count">{{ view_user.posts.count }}</div>
                    <div id="user-profile-post-count-label"> {% trans 'Posts' %}</div>
                </a>
                <a href="{% url 'likes' view_user %}" class="flex-row">
                    <div id="user-profile-liked-posts-count">
                        {{ view_user.liked_posts.count }} 
                    </div>
                    <div id="user-profile-liked-posts-count-label">
                         {% trans 'Liked Posts' %}
                    </div>
                </a>
            </div>
            <div id="user-profile-follower-info-div">
                <div id="user-profile-following-count">{{ view_user.following.count }}</div>
                <div id="user-profile-following-count-label">{% trans 'Following' %}</div>
                <div id="user-profile-follower-count">{{ view_user.followed_by.count }}</div>
                <div id="user-profile-follower-count-label">{% trans 'Followers' %}</div>
            </div>
        </div>
    </div>
</div>