/* TEMP STYLING FOR DEVELOPMENT */
/* TODO: REMOVE THIS */
.form-100-test {
    min-width: 100%;

}
/* END TEMP STYLING */

/* VARS */
:root {
    --item-width: 600px;
    --item-max-width: 100%;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-direction: column; */
}
#outermost-container {
    min-height: 100%;
    position: relative;
    background-color: #e7eaef;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.padding12 {
    padding: 12px;
}

.active {
    color: black !important;
    text-decoration: underline;
}

.section-identifier {
    width: var(--item-width);
    max-width: var(--item-max-width);;
    margin: auto;
    /* border: 1px solid red; */
    padding: 8px;
}

.section-identifier-inner {
    width: 100%;
    /* margin: 8px; */
    padding: 12px;
    background-color: white;
    border: 1px solid lightgrey;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 500px) {
    .section-identifier {
        padding-left: 0;
        padding-right: 0;
    }
    .section-identifier-inner {
        margin-left: 0;
        margin-right: 0;
    }
}
.section-identifier-additional-text {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin-top: 8px;
}

#compose-view-outer {
    margin: auto;
    width: var(--item-width);
    max-width: var(--item-max-width);
}
#compose-view {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;
    margin: 8px 8px 0 8px;
    padding: 12px;
    background-color: white;
}

#compose-view-avatar-div {
    margin-right: 12px;
}
#compose-view-avatar-img {
    object-fit: cover;
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

#compose-view-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#compose-form-post-text {
    margin-bottom: 8px;
}

#compose-form-submit-button-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* TODO fix this button. it looks like shit */
#compose-form-submit-button {
    padding: 8px 16px 8px 16px;
    border: 0;
    border-radius: 32px;
    font-weight: bold;
    border-color: skyblue;
    background-color: skyblue;
    color: white;
    transition: background-color 300ms ease-out 100ms;
}
#compose-form-submit-button:hover {
    background-color: green;
}

#post-text {
    white-space: pre-wrap;
    width: 100%;
    font-size: 24px;
}


/* -------------------- */
/* STUFF FOR POSTS.HTML */
/* -------------------- */

#posts-all-container-div {
    margin: auto;
    width: var(--item-width);
    max-width: var(--item-max-width);
}

.post-div {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;
    margin: 0 8px 0 8px;
    padding: 12px;
    background-color: white;
}

.profile-pic {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.post-content-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.post-username-header-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

.post-username-header-link {
    display: flex;
    flex-direction: row;
}

.post-username-header-displayname {
    font-weight: bold;
    color: black;
}

.post-username-header-username {
    color: grey;
    padding-left: 8px;
}

.post-username-header-spacer {
    padding-left: 4px;
    padding-right: 4px;
}

.post-timestamp-text {
    color: grey;
}

.post-text {
    white-space: pre-wrap;
    margin-bottom: 8px;
}

.post-edit-button {
    border: none;
    background-color: transparent;
    color: lightgrey;
    cursor: pointer;
}
.post-save-edits-button {
    color: black;
}

.post-edit-input {
    width: 100%;
}

.post-bottom-row-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.post-bottom-row-left-div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.post-likes-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 500px) {
    #compose-view,
    .post-div {
        margin-left: 0;
        margin-right: 0;
    }
}

.post-like-button,
.post-unlike-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px 12px 4px 12px;
    border-radius: 8px;
    width: 60px;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s;
    transition: border 0.3s
}
.post-like-button:focus,
.post-unlike-button:focus {
    outline: none;
    box-shadow: none;
}
.post-like-button {
    border: 1px solid grey;
    /* background-color: white; */
}
.post-like-button:hover {
    background-color: #ffe3e2;
    border: 1px solid lightcoral;
}
.post-unlike-button {
    border: 1px solid grey;
    color: red;
}
.post-unlike-button:hover {
    background-color: white;
}
.post-like-count {
    margin-left: 6px;
}


/* -------------------- */
/* STUFF FOR PROFILE    */
/* -------------------- */
#user-profile-outer-div {
    /* display: flex;
    flex-direction: column; */
    margin: auto;
    width: var(--item-width);
    max-width: var(--item-max-width);
}
#user-profile-grid-div {
    background-color: white;
    margin: 8px;
    padding: 12px;
    border: 1px solid lightgrey;
    display: grid;
    grid-template-columns: 144px auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "avatar         name        follow"
        "avatar         info        info"
        ".              info        info";
}
@media (max-width: 500px) {
    #user-profile-grid-div {
        margin-left: 0;
        margin-right: 0;
    }
}
#user-profile-avatar-div {
    grid-area: avatar;
}
#user-profile-name-div {
    grid-area: name;
    display: flex;
    flex-direction: column;
}
#user-profile-follow-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#user-profile-info-div {
    grid-area: info;
    display: flex;
    flex-direction: column;
}
#user-profile-follow-div {
    grid-area: follow;
}
#user-profile-bottom-right-div {
    grid-area: follow-info;
    display: flex;
    flex-direction: row;
}
#user-profile-bio {
    white-space: pre-line;
    line-height: 1.25rem;
}

#user-profile-post-info-div {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
}
#user-profile-follower-info-div {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}

#profile-avatar {
    object-fit: cover;
    border-radius: 100%;
    width: 128px;
    height: 128px;
}

#user-profile-displayname {
    color: black;
    font-weight: bold;
    font-size: 24px;
}
#user-profile-username {
    font-size: 18px;
    color: grey;
    margin-bottom: 12px;
}
#user-profile-post-count,
#user-profile-liked-posts-count,
#user-profile-following-count,
#user-profile-follower-count {
    font-weight: bold;
}
#user-profile-post-count-label,
#user-profile-liked-posts-count-label,
#user-profile-following-count-label,
#user-profile-follower-count-label {
    color: grey;
    margin-left: 4px;
}

#user-profile-liked-posts-count,
#user-profile-follower-count {
    margin-left: 12px;
}

#follow-button,
#unfollow-button {
    /* border: 0; */
    border: 1px solid;
    width: 105px;
    padding: 8px 16px 8px 16px;
    border-radius: 32px;
    font-weight: bold;
    border-color: #54b4e6;
    background-color: #54b4e6;
    color: white;
    /* TODO: TRANSITION DOESN'T WORK */
    transition: all 0.2s;
}
#follow-button {

}
#follow-button:hover {
    background-color: #1d86bf;
}
#unfollow-button {

    /* transition animation */
    /* get rid of this weird border */
    /* find a good color scheme */
}
#unfollow-button:hover {
    background-color: red;
}

/* -------------------- */
/* STUFF FOR PAGINATION */
/* -------------------- */
.pagination {
    margin-top: 16px;
    margin-bottom: 32px;
}

/* -------------------- */
/* STUFF FOR FOOTER     */
/* -------------------- */
#footer {
    position: absolute;
    bottom: 0;
    /* margin-top: auto; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top: 1px solid lightgrey;
    padding: 8px;
    font-family: monospace;
    font-size: 0.875em;
}
.footer-link,
.footer-link:hover {
    color: black;
}


/* -------------------------- */
/* STUFF FOR SINGLE POST VIEW */
/* -------------------------- */
#single-post-outer {
    background-color: #e7eaef;
    /* min-height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}
#single-post-view-container {
    width: 600px;
    max-width: 100%;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 12px;
    display: grid;
    grid-template-columns: 80px auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "avatar     name        name        follow"
        "text       text        text        text"
        "timestamp  timestamp   timestamp   timestamp"
        "likes      likes       like_edit   like_edit";
}
@media (max-width: 500px) {
    #single-post-outer {
        margin: 0;
    }
    #single-post-view-container {
        border-left: none;
        border-right: none;
    }
}
#single-post-view-avatar {
    grid-area: avatar;
}
#single-post-view-name-div {
    grid-area: name;
    display: flex;
    flex-direction: column;
}
#single-post-view-follow-div {
    grid-area: follow;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.single-post-view-text-div {
    white-space: pre-wrap;
    grid-area: text;
    font-size: 1.75rem;
}
#single-post-view-timestamp-div {
    grid-area: timestamp;
    color: grey;
    margin-bottom: 8px;
}
#single-post-view-like-edit-div {
    grid-area: like_edit;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* DIRTY HACKS */
.spacer-8-px-conditional {
    height: 8px;
    min-height: 8px;
}
#user-profile-outer-div + .spacer-8-px-conditional {
    height: 0;
    min-height: 0;
}

/* register and login */
.reg-login-outer {
    width: var(--item-width);
    max-width: var(--item-max-width);;
    margin: auto;
    /* border: 1px solid red; */
    padding: 0 8px 8px 8px;
}
.reg-login-inner {
    width: 100%;
    /* margin: 8px; */
    padding: 12px;
    background-color: white;
    border: 1px solid lightgrey;
    /* font-size: 20px; */
    /* font-weight: bold; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
@media (max-width: 500px) {
    .reg-login-outer {
        padding-left: 0;
        padding-right: 0;
    }
    .reg-login-inner {
        margin-left: 0;
        margin-right: 0;
    }
}
.reg-login-form-item {
    width: 300px;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-helper-text {
    margin-top: 12px;
    width: 100%;
}

.p-l-12 {
    padding-left: 12px;
    text-align: left;
}

.avatar-input-container {
    border: 1px solid lightgrey;
}

#new-mentions-count {
    background-color: #fc3d39;
    font-size: 12px;
    height: 16px;
    min-width: 16px;
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-row-vertical {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.no-top-padding {
    padding-top: 0;
}

.no-posts-found {
    width: 100%;
    /* margin: 8px; */
    padding: 12px;
    background-color: white;
    border: 1px solid lightgrey;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 500px) {
    .section-identifier {
        padding-left: 0;
        padding-right: 0;
    }
    .section-identifier-inner {
        margin-left: 0;
        margin-right: 0;
    }
}

.input-with-at-sign {
    position: relative;
    display: block;
}
.input-with-at-sign::before {
    content: '@';
    position: absolute;
    top: 7px;
    left: 12px;
    z-index: 99;
    font-size: 16px;
    /* color: grey; */
}

.form-control-left-padding-for-at-sign {
    padding-left: 27px;
}

.equal-width-button {
    width: 80px;
}

.hidden {
    display: none;
}

/* HACK TO STYLE FILE UPLOADS */
.avatar-input-container > .p-l-12 {
    display: none;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    border: 1px solid grey;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
}
.custom-file-upload:hover {
    background-color: lightgrey;
}
.custom-file-upload-helper-text {
    display: none;
    color: grey;
}
.flex-column-align-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.margin-left-4 {
    margin-left: 4px;
}
.margin-left-12 {
    margin-left: 12px;
}

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.padding-bottom-0 {
    padding-bottom: 0;
}
.margin-bottom-8 {
    margin-bottom: 8px;
}
.bb-0 {
    border-bottom: 0 !important;
}
.important-div {
    /* background-color: #f8d7da; */
    background-color: lightgrey;
}
.w100 {
    width: 100%;
}

#new-posts-container {
    /* margin: 8px auto 8px auto; */
}
/* if #new-posts-container is hidden */
#new-posts-container:hidden {
    margin: 0;
}
#new-posts-inner {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #54b4e6;
    color: white;
    text-align: center;
    width: 90%;
    max-width: 500px;
    border-radius: 1000px;
    transition: background-color 300ms ease-out 100ms;
}
#new-posts-inner:hover {
    background-color: #1d86bf;
}

.no-decoration-link {
    text-decoration: none;
}
.no-decoration-link:hover {
    text-decoration: none;
}