/* VARS */
:root {
    --item-width: 600px;
    --item-max-width: 100%;
}

/* STUFF FOR INDEX.HTML */
/* #index-body-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} */
#index-body-div {
    background-color: #e7eaef;
}

#compose-view-outer {
    margin: auto;
    width: var(--item-width);
    max-width: var(--item-max-width);
}
#compose-view {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;
    margin: 8px 8px 24px 8px;
    padding: 16px;
    background-color: white;
}

#compose-view-avatar-div {
    margin-right: 16px;
}
#compose-view-avatar-img {
    width: 64px;
    height: 64px;
}

#compose-view-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#compose-form {
    margin: 8px;
}

#compose-form-submit-button-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#compose-form-submit-button {
    padding: 8px 16px 8px 16px;
    border-radius: 32px;
    font-weight: bold;
    border-color: skyblue;
    background-color: skyblue;
    color: white;
}

#post-text {
    width: 100%;
    font-size: 24px;
}

/* STUFF FOR POSTS.HTML */
#posts-all-container-div {
    margin: auto;
    width: var(--item-width);
    max-width: var(--item-max-width);
}

.post-div {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;
    margin: 0 8px 0 8px;
    padding: 16px;
    background-color: white;
}

.profile-pic {
    width: 64px;
    height: 64px;
}

.post-content-div {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.post-username-header-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

.post-username-header-link {
    display: flex;
    flex-direction: row;
}

.post-username-header-displayname {
    font-weight: bold;
    color: black;
}

.post-username-header-username {
    color: grey;
    padding-left: 8px;
}

.post-username-header-spacer {
    padding-left: 4px;
    padding-right: 4px;
}

.post-bottom-row-div {
    display: flex;
    flex-direction: row;
}

@media (max-width: 500px) {
    #compose-view,
    .post-div {
        margin-left: 0;
        margin-right: 0;
    }
}